<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.chalmers.eda397.team7.so"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <instrumentation
        android:name="se.chalmers.eda397.team7.so.test.data.DataInstrumentalizationRunner"
        android:label="data_tests"
        android:targetPackage="se.chalmers.eda397.team7.so" >
    </instrumentation>

    <application
        android:name="se.chalmers.eda397.team7.so.StackOverflow"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="se.chalmers.eda397.team7.so.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.chalmers.eda397.team7.so.activities.QuestionsActivity"
            android:label="@string/title_activity_questions" >
        </activity>
        <activity
            android:name="se.chalmers.eda397.team7.so.activities.UserActivity"
            android:label="@string/title_activity_user" >
        </activity>
        <activity
            android:name="se.chalmers.eda397.team7.so.activities.UserListActivity"
            android:label="@string/title_activity_user_list" >
        </activity>
        <activity
            android:name="se.chalmers.eda397.team7.so.activities.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="se.chalmers.eda397.team7.so.activities.QuestionInformation"
            android:label="@string/title_activity_question_information" >
        </activity>
        <activity
            android:name="se.chalmers.eda397.team7.so.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="se.chalmers.eda397.team7.so.activities.QuestionSortByDate"
            android:label="@string/home_questions" >
        </activity>
        <activity
            android:name="se.chalmers.eda397.team7.so.activities.QuestionSortByNoA"
            android:label="@string/home_questions" >
        </activity>
        <activity
            android:name="se.chalmers.eda397.team7.so.activities.Questions_Tab_Activity"
            android:label="@string/home_questions" >
		</activity>

        <activity
            android:name="se.chalmers.eda397.team7.so.activities.TagCloudActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="se.chalmers.eda397.team7.so.activities.UsersSortByAlphabeth"
            android:label="@string/title_activity_user_list" >
        </activity>
        <activity
            android:name="se.chalmers.eda397.team7.so.activities.UsersSortByReputation"
            android:label="@string/title_activity_user_list" >
        </activity>
        <activity
            android:name="se.chalmers.eda397.team7.so.activities.Users_Tab_Activity"
            android:label="@string/title_activity_user_list" >
        </activity>
		<activity
            android:name="se.chalmers.eda397.team7.so.activities.QuestionItemTab"
            android:label="@string/title_activity_question_item_tab" >
        </activity>
        <activity
            android:name="se.chalmers.eda397.team7.so.activities.AnswersActivity"
            android:label="@string/title_activity_answers" >
        </activity>
        <activity
            android:name="se.chalmers.eda397.team7.so.activities.CommentsActivity"
            android:label="@string/title_activity_comments" >
        </activity>
    </application>

</manifest>